/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

.image-circle {
  border-radius: 50%; 
  property: 2px;
  margin: 0 auto;
  border:2px solid #003049;
}




body {
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
  background-color: #eae2b7;
}

p{
font size:18 px;
text-align: left;
}

header{
text-align: center;
}

footer{
  text-align: center;
}


/* Set the font family for any h1, h2, or h3 heading */
h1{
  text-align: center;
  font-family: "Playfair Display", Times, serif;
  display: block;
  margin: 0 auto;
}

h2{
  text-align: center;
  font-family: "Playfair Display", Times, serif;
  display: block;
  margin: 0 auto;
}


h3 {
  text-align: center;
  font-family: "Playfair Display", Times, serif;
  display: block;
  margin: 0 auto;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

p {
  line-height: 1.5;
  align: left;
}

/* The div container constrains the content width within the main container to 600px */
div {
  margin: auto;
  width: 600px;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

hr {
  border: 1px solid black;
}

a { color: #d62828;}

a:hover{ color: #f77f00; 
       text-decoration: underline;
       }


/* Add your solution below */

.image-circle {display: block; and margin: 0 auto;
}
